<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartremote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
          android:name=".AccelFlickActivity"
          android:label="AccelFlickActivity"
          android:parentActivityName=".PerformableGesturesActivity"/>
        <activity
            android:name=".AvailableSensors"
            android:label="Available sensors"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SensorTest"
            android:label="Sensor test" />
        <activity
            android:name=".PerformableGesturesActivity"
            android:label="Performable gestures"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConnectActivity"
            android:label="Connect to a device"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>